<footer class=" border-top py-5">
    <div class="container">
        <div class="d-flex justify-content-between">
            <ul class="nav">
                <li class="nav-item py-2">
                    <a class="nav-link link-dark" aria-current="page" href="#">服務方案</a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link link-dark" href="#">關於職旅</a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link link-dark" href="#">聯絡我們</a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link link-dark" href="#">隱私權政策</a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link link-dark" href="#">用戶條款</a>
                </li>
            </ul>
            <p class="navbar-text py-3">Copyright © 2025 職旅 workway. All rights reserved.</p>
        </div>
    </div>
</footer>